:root {
    --size-1: 3rem;
    --size-2: 2.5rem;
    --primary-color: #DB6B18;
    --secondary-color: #F2500F;
    --terciary-color: #E8A30E;
}
.elemento {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 3px 5px black;
    margin: 10px 0;
}
.elemento figure {
    height: 300px;
    flex-grow: 1;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}
figure {
    background-size: cover;
    background-position: center;
}
.uno figure {
    background-image: url(https://i.imgur.com/J9b3KdG.jpg);
}
.dos figure {
    background-image: url(https://i.imgur.com/lIcGIp3.jpg);
}
.tres figure {
    background-image: url(https://i.imgur.com/pu9YtmD.jpg);
}
figure h2 {
    background-color: var(--terciary-color);
    padding: 2px;
    border-radius: 3px;
    box-shadow: 1px 2px 5px black;
}
.elemento article p {
    padding: 5px;
    text-align: justify;
}

@media (min-width:700px) {
    .elemento{
        margin: 20px 0;
        /* font-size: 10%; */
    }
    .elemento figure {
        width: 70%;
        height: 400px;
    }
    .elemento article {
        display: flex;
        align-items: center;
        width:30%;
        padding: 20px;
        /* border: 5px black solid; */
        border-left: none;
    }
    .dos{
        flex-direction: row-reverse;
    }
}