:root {
    --size-1: 3rem;
    --size-2: 2.5rem;
    --primary-color: #DB6B18;
    --secondary-color: #F2500F;
    --terciary-color: #E8A30E;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: var(--size-2);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
main {
    background-color: var(--terciary-color);
}
div.main {
    max-width: 100rem;
    margin: 0 auto;
}
/* INICIO HEADER */
header {
    background-color: var(--primary-color);
    display: flex;
    padding: 1rem;
    font-size: var(--size-1);
    justify-content: space-between;
    align-items: center;
}
header h1 {
    line-height: 9rem;
    font-weight: 400;
}
header img {
    width: 9rem;
    height: 9rem;
}
header figure {
    display: flex;
}
nav ul{
    list-style: none;
    display: flex;
}
nav li {
    padding: 1rem;
}
nav li a {
    text-decoration: none;
    color: inherit;
}
/* FIN HEADER */

/* INICIO HERO */
.hero {
    background-image: url(./images/hamburguesas.jpg);
    background-color: khaki;
    background-size: cover;
    background-position: center;
    width:100%;
    height: 40vw;
}
.hero article {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero h1 {
    font-size: 6rem;
    background-color: var(--primary-color);
    padding: 0 2rem;
    margin-bottom: 1rem;
}
.hero h2 {
    color: ivory;
    font-size: 3.5rem;
    background-color: var(--secondary-color);
    padding: 0 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.hero input {
    font-family: Oswald,sans-serif;
    font-weight: 700;
    font-size: var(--size-2);
    background-color: var(--terciary-color);
    padding: .5rem;
    border-radius: .7rem;
}
/* FIN HERO */


/* INICIO SECCIONES CONTENT */
section.content figure {
    width:40%;
    display: flex;
}
.content img {
    width: 100%;
    border-radius: .2rem;
    min-width: 230px;
}
section.content {
    width: 100%;
    padding: 2rem;
    border: 1rem black double;
    margin: 2rem auto;
    display: flex;
    align-items:center;
}
section.content article {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.content p {
    text-align: justify;
    padding-right: 2rem;
}
.content h2 {
    margin-bottom: 1rem;
}
/* SECCIONES CONTENT "PAR" AL REVÉS */
section.content.par {
    flex-direction: row-reverse;
}
section.content.par h2 {
    text-align: right;
}
section.content.par p {
    padding-left: 2rem;
    padding-right: 0;
}
/* FIN SECCIONES CONTENT */