main h1{
    text-align: left;
    font-size: 5rem;
}
article.tarjetas_item {
    width: 48%;
    margin-left: 10px;
}
article.tarjetas_item span {
    display: none;
}
article.tarjetas_item:hover span{
    display: block;
    content: "$10.00";
    position: relative;
    color: black;
    font-size: 3.75rem;
    font-weight: 500;
    background-color: var(--terciary-color);
    box-shadow: 2px 3px 5px black;
    border-radius: 5px;
}